body
{
	font-family:Tahoma;
}

td
{
	padding-top : 10px;
	padding-bottom : 10px;
	padding-right : 20px;
}

textarea
{
	width : 400px;
	height:200px;
}

.header-div {
	background-color:#24292e;
	padding:15px;
	text-align: center;
	color: rgba(255,255,255,0.75);
}